<script setup>
import { createAPI } from './api.js'
import MergeRequest from './MergeRequest.vue'

const {
	trace,
	setToken,
	setProject,
	projectPath,
	mergeRequests,
} = createAPI()

const setupProject = () => {
	const u = prompt('GitLab project URL')
	if (u !== null) setProject(u)
}

const setupToken = () => {
	const t = prompt('GitLab token')
	if (t !== null) setToken(t)
}
</script>

<template>
	<div class="p-3 flex gap-2 items-center">
		<h1 class="text-2xl"><a :href="projectPath">GitLab MRs</a></h1>
		<div class="flex-grow"></div>
		<button class="px-2 py-1 rounded bg-gray-700" @click="setupProject">
			set project
		</button>
		<button class="px-2 py-1 rounded bg-gray-700" @click="setupToken">set token</button>
	</div>

	<div v-if="!mergeRequests[0]">loading...</div>
	<div v-else class="p-2 flex flex-col gap-2">
		<MergeRequest v-for="mr of mergeRequests" :key="mr" :mrId="mr" />
	</div>
	<div v-if="trace">
		<div
			class="fixed inset-0 flex justify-center items-center h-screen bg-gray-800/80"
			@click.self="trace = ''"
		>
			<div class="bg-gray-900 w-9/10 h-4/5 p-1 rounded-lg overflow-scroll text-xs">
				<pre>{{ trace }}</pre>
			</div>
		</div>
	</div>
</template>
