<script setup>
import { reactive, watchEffect, onUnmounted } from 'vue'
import { useAPI, useProject, useTrace } from './api.js'
import { parseMR, parseStage, statusIcon } from './parse.js'
import mrQuery from './mergeRequestQuery.gql'
import stageQuery from './stageQuery.gql'
import StageJob from './StageJob.vue'

const props = defineProps({ mrId: String })

const api = useAPI()
const trace = useTrace()
const project = useProject()

const ANSI_REG = /[\u001B\u009B][[\]()#;?]*(?:(?:(?:(?:;[-a-zA-Z\d\/#&.:=?%@~_]+)*|[a-zA-Z\d]+(?:;[-a-zA-Z\d\/#&.:=?%@~_]*)*)?\u0007)|(?:(?:\d{1,4}(?:;\d{0,4})*)?[\dA-PR-TZcf-nq-uy=><~]))/g

const openDetails = new Set(['manual', 'failed', 'running', 'canceled'])

const mr = reactive({
	iid: NaN,
	title: '',
	pipeline: '',
	shouldBeRebased: false,
	/** @type {ReturnType<typeof import('./parse.js').parseMR>['stages']} */
	stages: [],
})

const updateMR = async () => {
	if (!props.mrId) return
	const r = await api.gql(mrQuery.replace(/MR_ID/, props.mrId))
	Object.assign(mr, parseMR(r?.mergeRequest))
}

/** @param {string} id */
const updateStage = async (id) => {
	const pre = mr.stages.find((s) => s.id === id)
	if (!pre) return
	const r = await api.gql(stageQuery.replace(/STAGE_ID/, id))
	const cur = parseStage(r?.ciPipelineStage)
	const statusUpdated = cur.status !== pre.status
	Object.assign(pre, cur)
	return statusUpdated
}

const traceJob = async (job) => {
	trace.value = '...'
	const resp = await api.v4(`projects/${project.id}/jobs/${job.id}/trace`)
	trace.value = resp.replace(ANSI_REG, '')
}

const runJob = async (job, stage) => {
	const action = job.status === 'manual' ? 'play' : 'retry'
	job.status = 'pending'
	const { id } = await api.v4(`projects/${project.id}/jobs/${job.id}/${action}`, {
		method: 'POST',
	})
	console.info(`retrying (${job.id} -> ${id})`)
	await new Promise((r) => setTimeout(r, 1000))
	await updateStage(stage)
}

let timer = null

watchEffect(async () => {
	if (timer) clearInterval(timer)
	await updateMR()
	const running = mr.stages.filter((s) => s.status === 'running')
	if (!running.length) return
	timer = setInterval(async () => {
		const updated = await Promise.all(running.map(({ id }) => updateStage(id)))
		if (updated.some((u) => u)) updateMR()
	}, 20000)
})

onUnmounted(() => {
	if (timer) clearInterval(timer)
})
</script>

<template>
	<div class="p-2 border rounded border-gray-500 bg-gray-800">
		<h2 class="text-lg">
			{{ mr.title }}
			<a :href="`${project.path}/-/merge_requests/${mr.iid}`" class="text-sm">
				({{ mr.iid }} ↗️)
			</a>
		</h2>
		<div class="pb-1">
			stages (<a :href="`${project.path}/-/pipelines/${mr.pipeline}`">pipeline ↗️</a>)
			<span v-if="mr.shouldBeRebased" title="needs rebase">🔃</span>
		</div>
		<div class="flex flex-wrap gap-1">
			<details
				v-for="s of mr.stages" :key="s.id"
				:open="openDetails.has(s.status)"
				class="rounded-lg bg-gray-700 open:w-full"
			>
				<summary class="px-2 py-1 text-sm">
					<span :title="s.status">{{ statusIcon[s.status] ?? '❓' }}</span>
					{{ s.name }}
				</summary>
				<div class="flex flex-col gap-1 pl-2 pb-2 text-sm">
					<StageJob
						v-for="job of s.jobs" :key="job.id" v-bind="job"
						@trace="traceJob(job)" @run="runJob(job, s.id)"
					/>
				</div>
			</details>
		</div>
	</div>
</template>
