<script setup>
import { ref, computed, onUnmounted, watchEffect } from 'vue'
import { statusIcon } from './parse.js'

const emit = defineEmits(['run', 'trace'])

const props = defineProps({
	id: Number,
	name: String,
	status: String,
	started: Date,
})

const now = ref(new Date())
const duration = computed(() => {
	if (props.status !== 'running') return 0
	return Math.floor((now.value - props.started) / 1000)
})

const showTrace = new Set(['success', 'failed', 'running'])
const showAction = new Set(['failed', 'manual', 'canceled'])

const rtf = new Intl.RelativeTimeFormat('en', { style: 'short' })

/** @param {number} dur */
const getDisplayTime = (dur) => {
	if (dur < 10) return 'recently'
	if (dur < 60) return rtf.format(-dur, 'second')
	if (dur < 3000) return rtf.format(Math.floor(-dur / 6) / 10, 'minute')
	return rtf.format(Math.floor(-dur / 360) / 10, 'hour')
}

let timer = null

watchEffect(() => {
	if (timer) clearInterval(timer)
	if (props.status !== 'running') return
	timer = setInterval(() => {
		now.value = new Date()
	}, 10000)
})

onUnmounted(() => {
	if (timer) clearInterval(timer)
})
</script>

<template>
	<div class="flex items-center gap-1">
		<span :title="status">{{ statusIcon[status] ?? '❓' }}</span>
		{{ name }}
		<button v-if="showTrace.has(status)" @click="emit('trace')">📜</button>
		<button v-if="showAction.has(status)" class="px-2 rounded bg-gray-800" @click="emit('run')">
			{{ status === 'manual' ? 'run' : 'retry' }}
		</button>
		<span v-else-if="duration" :title="started.toLocaleTimeString()">(started {{ getDisplayTime(duration) }})</span>
	</div>
</template>
